@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e6e6e6;
  --foreground: black;
}

.dark {
  --background: #191919;
  --foreground: white;
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(
      to bottom,
      var(--background),
      var(--background)
    )
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
